.lazy-loader-component {
  padding: 50px;
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .relative {
    position: relative;
  }
  .flex {
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }
  .flex-grow {
    flex-grow: 1;
  }
  .gap-2 {
    gap: 8px;
  }
  .w-full {
    width: 100%;
  }
  .h-full {
    height: 100%;
  }
  .bg-gray {
    background: #c6c6c68f;
  }

  .layout-element-container {
    height: 500px;
    &.left {
      width: 70%;
    }
    &.right {
      width: 30%;
    }
  }
  .overlay-shimmer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      transparent 40%,
      #fafafa 50%,
      transparent 60%
    );
    background-size: 200% 100%;
    animation: shimmer 2s infinite linear;

    @keyframes shimmer {
      from {
        background-position: 200% 0;
      }
      to {
        background-position: -200% 0;
      }
    }
  }
}
